*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F8F6;
    width: 1903px;
}
header, main{
  padding-left: 98px;
  padding-right: 98px;
}
header{
    width: 1300px;
    height: 100px;
    background-repeat: no-repeat;
}
.header_content{
    padding-top: 40px;
    width: 1300px;
}

nav{
    height: 25px;
    width: 90vw;
}
.nav_menu{
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    top: 43.5px;
    right: 213px;
    color: #122947;
    font-family: 'Heebo';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav_menu li:last-child{
    width: 64px;
    margin-left: 35px;
    list-style-type: none;
}
.nav_menu li{
    width: 64px;
    margin-left: 40px;
    list-style-type: none;
}
.nav_menu li a{
    font-family: 'Heebo';
    font-size: 18px;
    text-decoration: none;
    color: black;

}
.nav_icons{
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    right: 98px;
}
.nav_icons li img:last-child{
    margin-left: 30px;
}
.header_lane{
    width: 90vw;
    position: relative;
    left: 0;
}


main, footer{
    width: 1300px
}
.catalog_box_title{
    height: 100px;
    display: inline-flex;
}
.catalog_box_title h2{
    color: #122947;
    font-family: 'Raleway';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 46.8px */
}
.catalog_box_title button{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 1450px;;
}
.catalog_box_cards{
  display: inline-flex;
  width: 1720px;
}
.product_card{
  margin-left: 60px;
  width: 270px;
  height: 500px;
}
.product_card:first-child{
  margin-left: 0px;
}
.product_card img{
  width: 270px;
  height: 350px;
}
.product_card .product_card_name_price{
  display: inline-flex;
  position: relative;
  width: 350px;
  top: -45px;
  left: 20px;
}
.product_name{
  color: #122947;
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 23.2px */
}
.product_price{
  margin-left: 160px;
  color: #122947;
  font-family: 'Heebo';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 18.85px */
  position: relative;
  top: 3px;
}
.product_category{
  position: relative;
  top: -45px;
  left: 20px;
  color: #9A9DA0;
  font-family: 'Heebo';
  width: 100px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 18.85px */
}
.filter_button{
    width: 141px !important;
    height: 41px !important;
    border-radius: 2px !important;
    color: #122947;
    font-family: 'Heebo';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    border: 1px solid #B3BAC1 !important;
    position: relative;
    cursor: pointer;
    top: 5px;
    left: 1450px;
}
.filter_button:hover{
  border: 1px solid #122947 !important;
}

.checkbox{
  margin-top: 150px;
  display: inline-flex;
  width: 75vw;
  position: relative;
  top: -150px;
  left: 350px;
}
.body_check, .skin_check{
  margin-left: 160px;
}

.face_check{
  display: block;
}
.check_title{
  width: 155px;
  height: 13px;
  color: #122947;
  font-family: "Heebo";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  margin-bottom: 60px;
}
.checkbox div:first-child{
  margin-left: 0;
}
.enter, .out{
  border-radius: 2px;
  border: 1px solid #B3BAC1;
  width: 141px;
  height: 41px;
  color: #122947;
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-top: 41px;
  cursor: pointer;
}
.enter:hover, .out:hover{
  border-radius: 2px;
  border: 1px solid #122947;
}
.out{
  margin-left: 20px;
}
.checkbox-label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #122947;
  font-family: "heebo";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

/* Hide the browser's default radio button */
 input[type="radio"] {
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../../public/img/Ellipse\ 23.svg');
}

/* On mouse-over, add a grey background color */

/* When the radio button is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
	background-image: url('../../public/img/Ellipse\ 24.svg');
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-label .checkmark:after {
  background-size: 100%;
  width: 14px;
  height: 14px;
	background-image: url('../../public/img/Ellipse\ 24.svg');
}
footer{
    background-color: #F4F1ED;
    width: 99vw;
    height: 275px;
    padding: 0;
    margin-top: 100px;
  }
  .footer_logo{
    position: relative;
    top: 84px;
    left: 138px;
  }
  .footer_lane{
    width: 99vw;
    position: relative;
    top: 76px;
  }
  .footer_nav{
    position: relative;
    width: 800px;
    left: 421px;
    top: 63px;

  }
  .footer_nav ul li{
    display: inline-flex;
    list-style-type: none;
    margin-left: 57px;
    width: 91px;


  }
  .footer_nav a{
    color: #122947;
    text-decoration: none;
  }
  .footer_nav a:hover{
    opacity: 0.7;
  }
  .footer_nav ul li:first-child{
    margin-left: 0px;
  }
  .footer_company_name{
    color: #959595;
    font-family: 'Heebo';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 61px;
    height: 14px;
    position: relative;
    top: 125px;
    left: 138px;
  }
  .footer_security{
    color: #959595;
    font-family: 'Heebo';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 104px;
    width: 250px;
    left: 206px;
  }
  .footer_politic_conf{
    position: relative;
    left: 1525px;
    top: 95px;
    width: 250px;
    color: #959595;
    font-family: "Heebo";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer_icons{
    width: 200px;
    height: 15px;
    position: relative;
    left: 1530px;
    top: 35px;
  }
  .footer_icons img:first-child{
    margin-left: 0px;
  }
  .footer_icons img{
    margin-left: 35px;
  }
  .hidden{
    display: none;
  }
  .contact_map{
    height: 900px;
    width: 1720px;
}
.contact-map-text{
    position: relative;
    top: 140px;
    left: 98px;
    background: #F4F1ED;
    width: 670px;
    height: 554px;
}
.contact_map_title{
    position: relative;
    left: 100px;
    top: 100px;
    height: 100px;
    width: 142px;
    height: 23px;
    color: #122947;
    font-family: 'Raleway';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 41.6px */
}
.contact_map_body_address, .contact_map_body_phone, .contact_map_body_email{
    width: 300px;
    position: relative;
    left: 100px;
    top: 150px;
}
.contact_map_body_phone, .contact_map_body_email{

    margin-top: 35px;

}
.contact_map_body_address_title{
    color: #122947;
    font-family: "Heebo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 26.1px */
}
.contact_map_body_address_body{
    width: 256px;
    height: 39px;
    color: #122947;
    font-family: "Heebo";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
}

.contact_map_body_phone_title{
    color: #122947;
    font-family: "Heebo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 26.1px */
}
.contact_map_body_phone_body{
    color: #122947;
    font-family: "Heebo";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
}
.contact_map_body_email_title{
    color: #122947;
    font-family: "Heebo";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 26.1px */
}
.contact_map_body_email_body{
    color: #122947;
    font-family: "Heebo";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
}
.contact-map-img{
    position: relative;
    width: 670px;
    height: 422px;
    bottom: 350px;
    left: 600px;
}
.contact_map_icons img:first{
    margin-left: 0px;
}
.contact_map_icons img{
    position: relative;
    top: 180px;
    left: 98px;
    margin-left: 20px;
}
.join-section-text-body{
  position: relative;
  top: 20px;
  color: #122947;
  font-family: "Heebo";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 26.1px */
}
.join-section-text-btn{
  position: relative;
  top: 50px;
  border-radius: 2px;
  border: 1px solid #B3BAC1;
  color: #122947;
  text-align: center;
  font-family: 'Heebo';
  font-size: 19px;
  width: 170px;
  height: 30px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: 140%;
}
.join-section-text-btn:hover{
  transition: 0.5s;
  opacity: 0.8;
}
.collage-container{
  position: relative;
  top: 140px;
  display: flex;
  grid-template-areas:
  "collage-item collage-item collage-item"
  "collage-item collage-item collage-item";
  width: 1000px;
  left: 98px;
  flex-wrap: wrap;
  overflow: hidden;
  height: auto;
}
.collage-item{
  display: grid;
  grid-area: 'collage-item';
  flex-wrap: nowrap;
  overflow: hidden;
  width: 333px;
  height: 333px;
}
.join-section{
  width: 1720px;
  height: 900px;
}
.join-section-text{
  position: relative;
  left: 1200px;
  width: 400px;
  height: auto;
  bottom: 300px;
}
.join-section-text-title{
  color: #122947;
  font-family: 'Raleway';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 41.6px */
}
body{
  width: 1720px;
}
